<h1>Friends Page!</h1>

<ul>
<%friends.forEach(function(person) {%>
    <li>
        <%= person%>
    </li>
<% });%>
</ul>

<form action="/addfriend" method="POST">
    <input type="text" placeholder="name" name="newfriend">
    <button>Add new friend</button>
</form>